

@keyframes textAnimation {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}


.navbar {
    background-color: #ffffff; 
    color : #030303; 
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    z-index: 999;
}

.logo {
    max-width: 100px; 
}

.menu-items {
    list-style: none;
    display: flex;
}

.menu-items li {
    margin-right: 60px; 
}

.menu-items li:last-child {
    margin-right: 0;
}

.menu-items a {
    text-decoration: none;
    color: #070707;
    font-weight: 600; 
}
.navbar {
    animation: fadeInDown 1s ease;
}


.cart-login-container {
    display: flex;
    align-items: center;
}

.fa-bag-shopping {
    font-size: 24px; 
    margin-right: 10px; 
    color: #222222; 
}

input[type="button"] {
    background-color: #5E92FA; 
    color: #fff;
    border: none; 
    padding: 10px 30px; 
    border-radius: 20px; 
    cursor: pointer; 
    font-weight: bold;
}

input[type="button"]:hover {
    background-color: #0056b3; /* Couleur de fond du bouton au survol */
}


#home{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    

}

/* Créez une classe CSS pour l'élément SVG */
.mon-svg {
  width: 600px;
  height: 500px; 
  background-color:  #007bff;
  border-radius: 66% 20% 55% 15%;
  margin-right: -50px;
  }
  
.image {
    flex: 1;
    margin: 0 20px 20px 0;
    margin-top: 120px;
}

.image img {
    width: 500px;
    height: 450px;
    border-radius: 50px;
    margin-left: 230px;
    margin: 80px;
    margin-top: 26px;
    animation: wordAnimation 2s ease forwards;
    
   
}
.text {
    margin-top: 250px;
}
.text p{
    margin-top: 50px;
}

 #btn{
    background-color: #5E92FA; 
    color: #fff;
    border: none; 
    padding: 20px 40px; 
    border-radius: 15px; 
    cursor: pointer; 
    font-weight: bold;
    position: absolute;
    right:1075px;
    bottom: -80px;
}
#btn[type="button"]:hover {
    background-color: #0056b3; /* Couleur de fond du bouton au survol */
}
@keyframes wordAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-size: 60px;
    margin-top: -120px;
    
}

h1 span {
    display: inline-block;
    animation: wordAnimation 1s ease forwards;
    opacity: 0;
    transform: translateY(50px);
}

h1 span:nth-child(1) {
    animation-delay: 0.2s;
}

h1 span:nth-child(2) {
    animation-delay: 0.4s;
}

h1 span:nth-child(3) {
    animation-delay: 0.6s;
}

h1 span:nth-child(4) {
    animation-delay: 0.8s;
}

h1 span:nth-child(5) {
    animation-delay: 1s;
}

h1 span:nth-child(6) {
    animation-delay: 1.2s;
}


p {
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    

}
#shop h2{
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
}
#shop p{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

/* Style pour la div contenant les produits */
/* Style for the container of products */
#data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 10px;
}

/* Style for each product */
.produit {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    animation: wordAnimation 2s ease forwards;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s ease; /* Adding a transform transition */
}

.produit img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.produit h2 {
    font-size: 18px;
    margin-top: -10px;
}

/* Style for the description of the product */
.produit p {
    font-size: 14px;
    margin-bottom: 10px;
}

/* Style for the price of the product */
.produit p:last-child {
    font-size: 16px;
    font-weight: bold;
    color: #000000; /* Accent color similar to Amazon */
}

.ajouter-au-panier {
    background-color: #5E92FA;
    color: #fff;
    border: none;
    padding: 6px 30px; /* Correction : il y avait une faute de frappe dans la valeur du padding */
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px; /* Réglage de la marge supérieure */
    margin-left: auto; /* Ajustement de la marge gauche */
    margin-right: auto; /* Ajustement de la marge droite */
    display: block; /* Pour centrer le bouton */
}



.produit:hover {
    transform: scale(1.05); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
}


.produit:hover .wordAnimation {
    animation: wordAnimation 1s ease forwards;
}

/* Style for the word animation within the product */
.produit .wordAnimation {
    opacity: 0;
    transform: translateY(20px);
    animation: wordAnimation 2s ease forwards;
}


  .form-row {
    margin-bottom: 10px;
}

.form-input {
    display: block;
}

.form-error {
    color: red;
}
#popup-form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#popup-form-container form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    margin: 30px auto;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.contact-form {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
    width: 50%;
}

.map {
    flex: 1;
    margin-left: 20px;
}

.form {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 120px;
    gap: 10px;
    width: 600px;

    padding: 20px;
    border-radius: 10px;

  }
  
.form .title {
    color: royalblue;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 100%;
    height: 50px;
  }
  
  .form textarea {
    border-radius: 8px;
    height: 100px;
    width: 100%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
  }
  
  .footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}